<section class="container">
    <div class="slider-wrapper">
      <div class="slider">
        <img
        
         
          [src]="getCurrentSlideUrl()"
          alt=""
          class="slide"
        />
      </div>

      <div (click)="goToPrevious()" class="leftArrow">❰</div>
      <div (click)="goToNext()" class="rightArrow">❱</div>
  
  
      <div class="slider-nav">
        <div class="dot" *ngFor="let slide of slides; let i = index"
        (click)="goToSlide(i)"
        [ngClass]="{'active': currentIndex === i}"></div>
          
      
       
      </div>
    </div>
  </section>
  