
.background-container {
    display: flex;
    position: relative;
    
    overflow: hidden; /* Prevent additional scrollbars for background */
    overflow-y: hidden;
    background-image: url("/assets/Bands-Background.jpg");
    background-size: cover; /* Scale the image to cover the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    background-attachment: fixed;
   
  }
  
  .bandsContainer {
    position: relative;
    margin: 0 auto; 
    padding: 20px; 
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:  center;
    z-index: 1; 
    width: 60%;
    
  }
  html, body {
    overflow: hidden;
  }
  
  /* Individual red bands */
  .bands {
    width: 300px;
    height: 300px;
    background-color: rgb(74, 74, 74);
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box; /* Ensure padding and border are included in width/height calculation */
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .bands {
      width: 250px;
      height: 250px;
    }
  }
  
  @media (max-width: 900px) {
    .bands {
      width: 200px;
      height: 200px;
    }
  }
  
  @media (max-width: 600px) {
    .bands {
      width: 150px;
      height: 150px;
    }
    .bandsContainer{
        margin: 0 ;
        width: 100%;
    }
  }
  
  @media (max-width: 400px) {
    .bands {
    
      width: 100px; 
      height: 100px;
    }
    .bandsContainer{
        margin: 0 ;
        width: 100%;
    }
  }
  