<div class="background-container">
  
    
    <!-- Scrollable Content (red boxes) -->
    <div class="bandsContainer">
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
    </div>
    

  </div>
  