<div class="background-container">
    <!-- Left Fixed Background Image -->
    <div class="background left-background"></div>
    
    <!-- Scrollable Content (red boxes) -->
    <div class="bandsContainer">
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
      <div class="bands"></div>
    </div>
    
    <!-- Right Fixed Background Image -->
    <div class="background right-background"></div>
  </div>
  